#### 1. Import pandas library

In [6]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
!pip3 install SQLAlchemy
!pip3 install PyMySQL
!pip3 install mysql-connector

Requirement already satisfied: SQLAlchemy in /opt/anaconda3/lib/python3.8/site-packages (1.3.18)
Collecting PyMySQL
  Downloading PyMySQL-0.10.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 510 kB/s eta 0:00:011
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.10.0
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 4.1 MB/s eta 0:00:01    |███████████████████▊            | 7.3 MB 4.1 MB/s eta 0:00:02
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-macosx_10_9_x86_64.whl size=247953 sha256=d64dcad6223ef5e1c79568d43dc116d41d97e408dd23446868a5dece5fc878b0
  Stored in directory: /Users/nayibahued/Library/Caches/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [1]:

import pymysql
from sqlalchemy import create_engine


motor=create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')
##se especifica el guest, hots:relational.fit.cvut.cz:3306, archivo:stats

#### 4. Import the users table

In [9]:
us_table = pd.read_sql('SELECT * FROM users', motor)
us_table

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 5. Rename Id column to userId

In [28]:
us_table.rename(columns={ 'Id' :"userId" }, inplace = True)
us_table

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Import the posts table.

In [17]:
po_table = pd.read_sql('SELECT * FROM posts', motor)
po_table

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [25]:
po_table.rename(columns={ 'Id': 'postId','OwnerUserId':'userId' }, inplace = True)
po_table

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [41]:
us_table2 = pd.DataFrame(us_table, columns = ['userId', 'Reputation','Views','UpVotes','DownVotes'])
us_table2

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [42]:
po_table2=pd.DataFrame(po_table, columns = ['postId', 'Score','userID','ViewCount','CommentCount'])
po_table2

       postId  Score  userID  ViewCount  CommentCount
0           1     23     NaN     1278.0             1
1           2     22     NaN     8198.0             1
2           3     54     NaN     3613.0             4
3           4     13     NaN     5224.0             2
4           5     81     NaN        NaN             3
...       ...    ...     ...        ...           ...
91971  115374      2     NaN        NaN             2
91972  115375      0     NaN        9.0             0
91973  115376      1     NaN        5.0             2
91974  115377      0     NaN        NaN             0
91975  115378      0     NaN        NaN             0

[91976 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [43]:
users_posts = us_table.merge(po_table,left_on='userId', right_on='userId')
users_posts

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90579,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,None,None,None,0,0,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90580,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,None,None,None,0,0,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90581,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,None,None,None,0,0,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
90582,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,...,0.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90583,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [62]:
users_posts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userId                 90584 non-null  int64
 1   Reputation             90584 non-null  int64
 2   CreationDate           90584 non-null  datetime64[ns]
 3   DisplayName            90584 non-null  object
 4   LastAccessDate         90584 non-null  datetime64[ns]
 5   WebsiteUrl             32071 non-null  object
 6   Location               40452 non-null  object
 7   AboutMe                41684 non-null  object
 8   Views                  90584 non-null  int64
 9   UpVotes                90584 non-null  int64
 10  DownVotes              90584 non-null  int64
 11  AccountId              90584 non-null  int64
 12  Age                    26804 non-null  float64
 13  ProfileImageUrl        24063 non-null  object
 14  postId                 90584 non-null  int64
 15  PostTypeId             90584 non-null  int64
 16  AcceptedAnswerId       14563 non-null  float64
 17  CreaionDate            90584 non-null  datetime64[ns]
 18  Score                  90584 non-null  int64
 19  ViewCount              42188 non-null  float64
 20  Body                   90364 non-null  object
 21  LasActivityDate        90584 non-null  datetime64[ns]
 22  Title                  42188 non-null  object
 23  Tags                   42188 non-null  object
 24  AnswerCount            42188 non-null  float64
 25  CommentCount           90584 non-null  int64
 26  FavoriteCount          12979 non-null  float64
 27  LastEditorUserId       44128 non-null  float64
 28  LastEditDate           44356 non-null  datetime64[ns]
 29  CommunityOwnedDate     2387 non-null   datetime64[ns]
 30  ParentId               47100 non-null  float64
 31  ClosedDate             1560 non-null   datetime64[ns]
 32  OwnerDisplayName       1121 non-null   object
 33  LastEditorDisplayName  249 non-null    object
dtypes: datetime64[ns](7), float64(7), int64(10), object(10)
memory usage: 24.2+ MB

In [55]:
##checando las columnas que tienen valores vacios

null_cols = users_posts.isnull().sum()
null_cols[null_cols > 0]

WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Age                      63780
ProfileImageUrl          66521
AcceptedAnswerId         76021
ViewCount                48396
Body                       220
Title                    48396
Tags                     48396
AnswerCount              48396
FavoriteCount            77605
LastEditorUserId         46456
LastEditDate             46228
CommunityOwnedDate       88197
ParentId                 43484
ClosedDate               89024
OwnerDisplayName         89463
LastEditorDisplayName    90335
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [67]:
##tomamos un parametro con null=0, para conocer el numero de datos 
full_col=users_posts['userId'].notnull().sum()
##con este valor se puede tener un mejor panorama, y se toma la desicion de conservar aquellas columnas que tengan un registro
##de al menos la mitad menos 10mil de nuestro parametro que cuenta con todos los registros

drop_cols = list(null_cols[null_cols > (full_col/2)+10000].index)
clean_users_posts = users_posts.drop(drop_cols, axis=1)
clean_users_posts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userId            90584 non-null  int64
 1   Reputation        90584 non-null  int64
 2   CreationDate      90584 non-null  datetime64[ns]
 3   DisplayName       90584 non-null  object
 4   LastAccessDate    90584 non-null  datetime64[ns]
 5   Location          40452 non-null  object
 6   AboutMe           41684 non-null  object
 7   Views             90584 non-null  int64
 8   UpVotes           90584 non-null  int64
 9   DownVotes         90584 non-null  int64
 10  AccountId         90584 non-null  int64
 11  postId            90584 non-null  int64
 12  PostTypeId        90584 non-null  int64
 13  CreaionDate       90584 non-null  datetime64[ns]
 14  Score             90584 non-null  int64
 15  ViewCount         42188 non-null  float64
 16  Body              90364 non-null  object
 17  LasActivityDate   90584 non-null  datetime64[ns]
 18  Title             42188 non-null  object
 19  Tags              42188 non-null  object
 20  AnswerCount       42188 non-null  float64
 21  CommentCount      90584 non-null  int64
 22  LastEditorUserId  44128 non-null  float64
 23  LastEditDate      44356 non-null  datetime64[ns]
 24  ParentId          47100 non-null  float64
dtypes: datetime64[ns](5), float64(4), int64(10), object(6)
memory usage: 18.0+ MB

In [76]:
import numpy as np

##baja varianza
low_variance = []

for columna in clean_users_posts._get_numeric_data():
    minimum = min(clean_users_posts[columna])
    ninety_perc = np.percentile(clean_users_posts[columna], 90)
    if ninety_perc == minimum:
        low_variance.append(columna)

print(low_variance)

##no hay columnas que cumplan la condicion de la baja varianza

[]

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [89]:
##Reputation y Score se cambia a float, porque el promedio de calificaciones se maneja con puntos decimales
clean_users_posts['Reputation'] = clean_users_posts['Reputation'].astype('float64')
clean_users_posts['Score'] = clean_users_posts['Score'].astype('float64')

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [91]:
import numpy as np


out = clean_users_posts.describe().transpose()
out['IQR'] = out['75%']-out['25%']
out

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,1.654676e+04,1.527337e+04,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6.282395e+03,1.510227e+04,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1.034245e+03,2.880074e+03,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,7.343157e+02,2.050869e+03,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,3.327325e+01,1.349364e+02,0.0,0.00,0.0,8.00,1920.0,8.00
AccountId,90584.0,1.459063e+06,1.364242e+06,-1.0,281324.00,1064678.0,2376872.50,5026998.0,2095548.50
postId,90584.0,5.653908e+04,3.384031e+04,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
PostTypeId,90584.0,1.570222e+00,6.128652e-01,1.0,1.00,2.0,2.00,7.0,1.00
Score,90584.0,2.780767e+00,4.948922e+00,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,42188.0,5.566562e+02,2.356931e+03,1.0,53.00,126.0,367.00,175495.0,314.00
AnswerCount,42188.0,1.107424e+00,1.490476e+00,0.0,0.00,1.0,2.00,136.0,2.00
CommentCount,90584.0,1.894650e+00,2.638704e+00,0.0,0.00,1.0,3.00,45.0,3.00
LastEditorUserId,44128.0,1.200186e+04,1.341624e+04,-1.0,919.00,7290.0,21980.50,55733.0,21061.50
ParentId,47100.0,4.873097e+04,3.403355e+04,1.0,18029.50,45268.0,77444.00,115375.0,59414.50

In [92]:
outliers = pd.DataFrame(columns=clean_users_posts.columns)

for col in out.index:
    iqr = out.at[col,'IQR']
    cutoff = iqr * 15
    lower = out.at[col,'25%'] - cutoff
    upper = out.at[col,'75%'] + cutoff
    results = clean_users_posts[(clean_users_posts[col] < lower) | 
                   (clean_users_posts[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

outliers.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,Location,AboutMe,Views,UpVotes,DownVotes,...,Body,LasActivityDate,Title,Tags,AnswerCount,CommentCount,LastEditorUserId,LastEditDate,ParentId,Outlier
11248,919,87393.0,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,Northeastern US,<p>Consultant (environmental and spatial stats...,20932,11273,779,...,<p>John Tukey systematically discusses transfo...,2010-08-13 15:48:29,None,None,NaN,0,NaN,NaT,1601.0,Reputation
11249,919,87393.0,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,Northeastern US,<p>Consultant (environmental and spatial stats...,20932,11273,779,...,"<p><a href=""http://www.causeweb.org/"" rel=""nof...",2010-08-17 22:11:08,None,None,NaN,0,919.0,2010-08-17 22:11:08,726.0,Reputation
11250,919,87393.0,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,Northeastern US,<p>Consultant (environmental and spatial stats...,20932,11273,779,...,<p>A player's yardage is unlikely to be anywhe...,2010-08-13 16:15:41,None,None,NaN,1,NaN,NaT,1462.0,Reputation
11251,919,87393.0,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,Northeastern US,<p>Consultant (environmental and spatial stats...,20932,11273,779,...,"<p>I loved the Freedman, Pisani, Purves <em>St...",2010-08-13 21:22:56,None,None,NaN,0,NaN,NaT,414.0,Reputation
11252,919,87393.0,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,Northeastern US,<p>Consultant (environmental and spatial stats...,20932,11273,779,...,<p>This is a counting problem: there are <em>b...,2010-08-15 22:03:07,None,None,NaN,1,NaN,NaT,1308.0,Reputation

In [93]:

outliers.to_csv('outliers.csv')